:root {
  --side-width: 22rem;
}

/* ┌─────────────────────────────────────────┐
   │ ヘッダー                                │
   └─────────────────────────────────────────┘ */

/* ヘッダー【flex 横2列: ロゴ + ナビ】 */
.header {
  display: flex;
  height: 27rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--side-width);
}

/* └ ロゴ（左） */
.header_logo {
  width: 12rem;
  height: 2.7rem;
  object-fit: cover;
}

/* └ ナビ（右） */
.header_nav {
}

/* ナビリスト【flex 横5列: About + Works + News + Contact + Instagram】 */
.nav_list {
  display: flex;
  gap: 3.3rem;
  align-items: center;
}

/* └ ナビアイテム */
.nav_item {
}

/* ナビリンク */
.nav_link {
  color: #24292e;
  font-size: 1.44rem;
  font-family: Meiryo;
  letter-spacing: 0;
  line-height: 1.18;
}

/* Instagramアイコン */
.nav_img {
  width: 2rem;
  height: 2rem;
}

/* ┌─────────────────────────────────────────┐
   │ メイン                                  │
   └─────────────────────────────────────────┘ */

/* メイン【flex 縦3列: メインコンテンツ + メインコンテンツ + メインコンテンツ】 */
.main {
  height: 20rem;
}

/* メインビジュアル */
.mv {
  object-fit: cover;
}

/* ┌─────────────────────────────────────────┐
   │ about                        │
   └─────────────────────────────────────────┘ */

/* aboutエリア */
.about_area {
  padding: 0 var(--side-width);
  height: 20rem;
  margin-bottom: 10rem;
  border: 0.5rem solid red;
}

/* aboutタイトル */
.about_title {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.about_name {
}
.about_info {
}

.about_description {
}
/* ┌─────────────────────────────────────────┐
   │ セクション名                        │
   └─────────────────────────────────────────┘ */
